<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">

<title>ISC</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


</head>

	<br>
	<br>
	<h3 class="ml-5 text-center">Bordereau de transmission de supports classifi&eacute;s </h3>
		<h3 class="ml-5 text-center"> A  B  B' </h3>
		<br><br>
		<div>
		<h4 class="ml-5">Service exp&eacute;diteur </h4>
			<p class="ml-5">KHIPLUS S.A.S. </p>
				<p class="ml-5">66-72 rue Marceau </p>
				<p class="ml-5">93100 Montreuil</p>
	</div>
	<br>
	<h4 class="ml-5">Informations du projet</h4>

	<table class="table table-striped table-bordered ml-5 w-75 p-3">
		<thead>
			<tr>
				<th>R&eacute;f&eacute;rences</th>
				<th>Date de cr&eacute;ation</th>
				<th>Classification / mention</th>
				<th>Nom destinataire</th>
				
			</tr>
		</thead>

		<tbody>
			<tr th:each="isc:${iscs}">
				<td th:text="${isc.classification}"></td>
				<td th:text="${isc.mention}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- <h4 class="ml-5">Destinataires du projet</h4>
	<table class="table table-striped table-bordered ml-5 w-75 p-3">
		<thead>
			<tr>
				<th>Id</th>
				<th>Civilit&eacute;</th>
				<th>Nom</th>
				<th>Pr&eacute;nom</th>
				<th>Num&eacute;ro et nom de rue</th>
				<th>Ville</th>
				<th>Code postal</th>
				<th>Organisme</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="address:${addresses}">
				<td th:text="${address.idAdresse}"></td>
				<td th:text="${address.genre}"></td>
				<td th:text="${address.nom}"></td>
				<td th:text="${address.prenom}"></td>
				<td th:text="${address.numNomRue}"></td>
				<td th:text="${address.ville}"></td>
				<td th:text="${address.codePostal}"></td>
				<td th:text="${address.organisme}"></td>
				<td><a
					th:href="@{/retirerAdresseProjet/{idAdresse}/{idProject}(idAdresse=${address.idAdresse}, idProject=${project.idProject})}"><button
							type="button" class="btn btn-outline-danger ml-5">Retirer
							du projet</button></a></td>

			</tr>
		</tbody>
	</table>
	<a th:href="@{/addTempAddressProject/{id}(id=${project.idProject})}"><button
			type="button" class="btn btn-outline-success ml-5">Ajouter
			un destinataire au projet</button></a>

	<br>
	<br>
	<h4 class="ml-5">ISC du projet</h4>
	<table class="table table-striped table-bordered ml-5 w-75 p-3">
		<thead>
			<tr>
				<th>IdIsc</th>
				<th>DateIsc</th>
				<th>typeSupport</th>
				<th>dateIsc</th>
				<th>classification</th>
				<th>mention</th>
				<th>numExemplaire</th>
				<th>numCopie</th>
				<th></th>
								<th>numEnregistrement</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="isc:${iscs}">
				<td th:text="${isc.idIsc}"></td>
				<td th:text="${isc.DateIsc}"></td>
				<td th:text="${isc.typeSupport}"></td>
				<td th:text="${isc.dateIsc}"></td>
				<td th:text="${isc.classification}"></td>
				<td th:text="${isc.mention}"></td>
				<td th:text="${isc.numExemplaire}"></td>
				<td th:text="${isc.numCopie}"></td>
				<td><a
					th:href="@{/retirerIscProjet/{idIsc}/{idProject}(idIsc=${isc.idIsc}, idProject=${project.idProject})}"><button
							type="button" class="btn btn-outline-danger ml-5">Retirer
							du projet</button></a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/addTempIscProject/{id}(id=${project.idProject})}"><button
			type="button" class="btn btn-outline-success ml-5">Ajouter
			un ISC au projet</button></a> -->
</body>
</html>